.footer-bottom { position: absolute; width: 100%; height:50px; bottom: 0px; background: #444; text-align: left; color: #aaa; }
.footer-bottom .row{margin-left: 0; margin-right: 0}

.footer-social { padding-top: 12px; text-align: left; }
.footer-social a { margin-left: 20px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: white; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-copyright { padding: 15px; text-align: right}
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }

.footer-register {padding-top: 10px; }
