.navbar {
    background-color: #2E2E2E !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: white;
    text-decoration: white;
    background-color: green;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: white;
    background-color: white;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: black;
    color: white;
}

.collapse ul.navbar-nav > li > a {
    color: white;
}