.container-fluid{
    background-color: #ffffff;
}

.breadcrumb{
    margin: 20px;
}

.cryptoBuyBtn{
    width: 150px;
    margin-left: 25px;
}

.cryptoExchangeBtn{
    width: 150px;
    margin-left: 25px;
}