.container .d-flex .card .container-fluid{
    padding: 20px 90px;
}

.container-fluid{
    background-color: #ffffff;
    border-radius: 4px;
}

.container-fluid .card .card-header{
    padding-bottom: 10px;
}

.goldBuyBtn{
    width: 150px;
    margin-left: 25px;
}

.goldExchangeBtn{
    width: 150px;
    margin-left: 25px;
}