.container .d-flex .card .container-fluid{
    padding: 30px 90px;
}

.container-fluid{
    background-color: #ffffff;
}

.goldBuyBtn{
    width: 150px;
    margin-left: 25px;
}

.goldExchangeBtn{
    width: 150px;
    margin-left: 25px;
}