@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
    background: url('/resources/login_background.jpg') no-repeat;
    background-size: cover;
}

.navbar-laravel {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
}

.register_form {
    background: rgba(255, 255, 255, 0.5);
}

.my-form {
    margin-top: 10vh;
    display: inline-block;
    margin-left: 14%;
    margin-right: 25%;
    width: 100%;
}

.my-form .card {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

.my-form .card-header {
    text-align: center;
    padding-top: 10px;
}

.my-form .row {
    margin: 9px;
    text-align: center;
}

.my-form .col-form-label {
    text-align: right;
    padding: 6px;
    margin-bottom: 0px;
}

.login-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

label.error {
    color: rgb(189, 33, 48);
    margin-top: 4px;
}

/* Modal styles */
.modal .modal-dialog {
    max-width: 600px;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}

.modal .modal-content {
    border-radius: 3px;
}

.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}

.modal form label {
    font-weight: normal;
}